/* VARIABLES */

:root {
  --primary: #0699A6;
  --accent: #9E8C6C;
  --text: #000000;
  --font-family: PT Sans Narrow, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  line-height: 1.4;
  font-weight: 500;
  overflow-x: hidden;
  font-family: var(--font-family);
}

ul li {
  list-style: none;
}

p {
  font-size: 20px;
}

h1,
h2,
h4 {
  font-weight: 700;
  font-family: Playfair Display, serif;
}

header {
  font-family: Playfair Display, serif;
  background-color: #F5F3F0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.headerContent {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 126px;
}

@media (max-width: 768px) {
  .headerContent {
    flex-direction: column;
  }

  header h1 {
    font-size: 86px;
  }

  header {
    text-align: center;
    justify-content: center;
  }

  .headerContent .contact {
    margin: 0 auto;
  }
}

h3 {
  font-family: var(--font-family);
  color: #9E8C6C;
}

h2 {
  font-size: 36px;
  padding: 0.5rem 0;
}

.contact {
  font-weight: 700;
  font-size: 18px;
  background-color: var(--primary);
  color: #fff;
  width: 225px;
  height: 60px;
  border: none;
}

@media (max-width: 768px) {
  .contact {
    bottom: 220px;
    right: 10px;
  }
}

.fotos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.fotos .foto {
  border-radius: 50%;
  overflow: hidden;
  width: 350px;
  padding: 2rem;
}

.fotos .circle {
  position: absolute;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  .fotos .circle {
    width: 100px;
    height: 100px;
    bottom: 220px;
    right: 10px;
  }
}

.texts {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

main {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.leftSide {
  width: 350px;
  position: relative;
  padding: 2rem;
}

.leftSide div {
  margin-bottom: 2rem;
}

.leftSide ul li {
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
}

.career ul li {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--primary);
  font-size: 20px;
  font-weight: 600px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rightSide {
  width: 635px;
  position: relative;
  padding: 2rem;
}


.separator {
  width: 100%;
  margin: 2rem 0;
  display: flex;
}

#fill div {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .leftSide {
    width: 80%;
  }

  .rightSide {
    width: 80%;
  }
}

footer {
  font-family: Playfair Display, serif;
  background-color: #F5F3F0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  text-decoration: none;
  flex-direction: column;
}

.footerTitle {
  font-size: 66px;
}

.contactInfo {
  color: var(--primary);
  font-size: 36px;
}

.socials {
  display: flex;
  gap: 2rem;
  color: #0699A6;
}